body, a ul, li, p{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.2 rem;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin-bottom: 50px;
    background-color: rgb(226, 225, 225);
}

/* Menu */

a{
    text-decoration: none;
    color: white;
}

h1{
    text-align: center;
    margin-top: 80px;
}

img{
    max-width: 100%;
    display: block;
}

.logo{
    max-width: 60px;
    margin-left: 50px;
}

.header{
    background-color: #355F7D;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.menu{
    display: flex;
}

.menu li{
    margin-left: 10px;
}

.menu li a{
    display: block;
    padding: 10px;
}

.footer{
    background-color: #355F7D;
    padding: 30px;
    text-align: center;
}

/* Section Home */

.flex{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.flex > div {
    flex: 1 1 200px;
    margin: 10px;
    justify-items: center;
}

.camisa, .camisa01, .caneca {
    display: grid;
    align-items: center;
    text-align: center;
    background-color: white;
    
}

.flex > div > img{
    padding: 10px;
}

.flex > div > p{
    min-width: 200px;
    background-color: #355F7D;
    padding: 10px;
    color: white;
    grid-column: 1;
    align-self: self-end;
}

/* Carão de visita
.cartao {
    display: flex;
    align-items: center;
    justify-items: center;
} */

.cartao {
    display: grid;
    grid-template-columns: repeat(3, 247px);
    grid-gap: 20px;
    padding: 10px;
    margin: 0 auto;
    align-items: center;
    
}

.cartao > div {
    display: block;
    background-color: #27B6C9;
    flex: 1 1 200px;
    align-items: flex-end;
}

.cartao > div > p{
    text-align: center;
    background-color: #355F7D;
    padding: 10px;
    color: white;
    grid-column: 1;
    align-self: baseline;
}
