body, ul, li, p{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2 rem;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin-bottom: 10px;
    background-color: rgb(226, 225, 225);
}

/* Menu */

a{
    text-decoration: none;
    color: white;
}

h1{
    text-align: center;
    margin-top: 50px;
}

img{
    max-width: 100%;
    display: block;
}

.logo{
    max-width: 60px;
    margin-left: 50px;
}

.header{
    background-color: #355F7D;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.menu{
    display: flex;
}

.menu li{
    margin-left: 10px;
}

.menu li a{
    display: block;
    padding: 10px;
}

/* Section Home */

.home{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.home > div{
    flex: 1 1 200px;
    margin: 10px;
}

/* Section Cartão */

.cartao{
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-gap: 20px;
    max-width: 800px;
    padding: 10px;
    margin: 0 auto;
}

.sidebar{
    margin-bottom: 10px;
}



@media (max-width: 600px){
    .cartao{
        grid-template-columns: 1fr;
    }

    .sidebar{
        display: flex;
        overflow: scroll;
    }

    .sidebar > div{
        flex: 1 0 200px;
        margin: 0 10px;
    }
}

/* Footer */

.footer{
    background-color: #355F7D;
    padding: 30px;
    text-align: center;
    margin-top: 10px;
}
